<%- include('complements/header.ejs') %>

<body>
    <div class="container">
        <div id="first-page">
            <div class="form-group row justify-content-center"  style="padding-top: 15px">
                <label for="selectCountry" class="col-sm-1 col-form-label">País</label>
                <div class="col-sm-4 col-md-3">
                    <select name="" id="country" class="form-control" onchange="fetchData()">
                        <option value="South Africa">Africa do Sul</option>
                        <option value="Germany">Alemanha</option>
                        <option value="Australia">Australia</option>
                        <option value="Brazil" selected="selected">Brasil</option>
                        <option value="China">China</option>
                        <option value="S. Korea">Coréia do Sul</option>
                        <option value="Spain">Espanha</option>
                        <option value="USA">Estados Unidos</option>
                        <option value="Philippines">Filipinas</option>
                        <option value="France">França</option>
                        <option value="Georgia">Geórgia</option>
                        <option value="Ghana">Gana</option>
                        <option value="Greece">Grécia</option>
                        <option value="Haiti">Haiti</option>
                        <option value="Honduras">Honduras</option>
                        <option value="India">India</option>
                        <option value="Indonesia">Indonesia</option>
                        <option value="Iran">Irã</option>
                        <option value="Iraq">Iraque</option>
                        <option value="Israel">Israel</option>
                        <option value="Italy">Itália</option>
                        <option value="Jamaica">Jamaica</option>
                        <option value="Japan">Japão</option>
                        <option value="Mexico">Mexico</option>
                        <option value="New Zealand">Nova Zelândia</option>
                        <option value="Nicaragua">Nicaragua</option>
                        <option value="Nigeria">Nigeria</option>
                        <option value="Panama">Panama</option>
                        <option value="Paraguay">Paraguai</option>
                        <option value="Peru">Peru</option>
                        <option value="Poland">Polônia</option>
                        <option value="Portugal">Portugal</option>
                        <option value="UK">Reino Unido</option>
                        <option value="Qatar">Qatar</option>
                        <option value="Russia">Russia</option>
                        <option value="Senegal">Senegal</option>
                        <option value="Sweden">Suécia</option>
                        <option value="Switzerland">Suiça</option>
                        <option value="Turkey">Turquia</option>
                        <option value="Ukraine">Ucrânia</option>
                        <option value="Uruguay">Uruguai</option>
                        <option value="Venezuela">Venezuela</option>
    
                    </select>
                </div>
            </div>
    
            <div class="row justify-content-center mt-1">
                <div class="col-md-12 col-12">
                    <div class="card">
                        <div class="card-header text-center">
                            Casos de corona em <span id="countryName">Brasil</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-12 text-center mt-3">
                    <button class="btn btn-outline-info" id="change">Mudar Visualização</button>
                    <div class="card-body" id="div-chart">
                        <canvas id="chart"></canvas>
                    </div>
                    <span id="cases"></span> casos, <span id="deaths"></span > mortes e <span id="recovered"></span> recuperados.
                </div>
            </div>
            
        </div>
        <hr>


        <div class="row mt-3" id="health">
            <div class="text-center col-md-4 col-12 pb-3">
                <img src="img/espirro.png" class="rounded" alt="...">
                <h3>Cubra o nariz e boca ao espirrar ou tossir.</h3>
            </div>
            <div class="text-center col-md-4 col-12 pb-3">
                <img src="img/objetos.png" class="rounded" alt="...">
                <h3>Não compartilhe objetos pessoais.</h3>
            </div>
            <div class="text-center col-md-4 col-12 pb-3 justify-content-center">    
                <img src="img/janela.png" class="rounded" alt="...">
                <h3>Mantenha os ambientes bem ventilados.</h3>

            </div>
        </div>
    </div>
    <div class="card text-center" style="position: relative; bottom: 0; width: 100%">
        <div class="card-body" id="footer">
            <blockquote class="blockquote mb-0">
                <p>Respeite o próximo e, se possíve, fique em casa!</p>
                <footer class="blockquote-footer">Renato <a href="https://github.com/rntdc"><img src="/img/git.png">
                        rntdc</a><a href="https://twitter.com/rntdcc"><img src="/img/twitter.png"> @rntdcc</a></p>
                </footer>
            </blockquote>
        </div>
    </div>

</body>

<%- include('complements/footer.ejs') %>