#footer a {
    text-decoration: none;
    color: #8743cc;
    font-weight: bold;
}
#footer a:hover {
    text-decoration: none;
    color: #8743cc;
    font-weight: bold;
}

#footer img{
    margin-bottom: 3px;
    margin-left: 10px;
    width: 25px;
}

#health img{
    width: 150px;
    margin: 20px 0px;
}

#health h3{
    padding: 0px 30px;
}

